body {
  padding-top: 54px;
  padding-bottom: 50px; 
  background-color: #f0f0f0;
}

.navbar-brand, .nav-link {
  font-family: "Helvetica Neue";
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  color: white;
}
.navbar-brand:hover, .nav-link:hover{
  color: black;
}
.nav-link-two{
  color: black;
}

.navbar-collapse {
  font-family: "Verdana";
}
#lo_link:hover{
  color: black;
}

#sr_container {
    position: relative;
    margin: 10% auto;
    width: 400px;
    height: 500px;
    border: 3px solid #e5e5e5;
    background-color: white;
}

.tab-pane.fade{
    text-align: left;
}

#signin {
  margin: 40px;
}

#signup {
  margin: 40px;
}

.form-control {
  margin-bottom: 20px;
}
.form-control:focus::-webkit-input-placeholder {
    color: transparent;
}

.nav-item.sign{
  width: 50%;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  border-left: 3px solid;
}

.card {
  position: relative;
  margin: 10% auto;
  width: 335px;
}

.card img {
  border-radius:30%;
  border: 5px white solid;
}

.card .container {
  padding: 20px;
}
.barbtn button{
  margin-top: -2px;
  margin-left: 5px;
  float: left;
}
#post_list_nav{
  background-color: white;
  position: relative;
  padding: 17px 20px 5px 5px;
  text-align: left;
  margin: 50px auto 0 auto;
  width: 700px;
  height: 70px;
  font-size: 25px;
}

#post_btn {
  margin-right: -10px;
  float: right;
}

#post_list, #post_list2 {
  position: relative;
  margin: 20px auto;
  width: 700px;
}

#content, #comment {
  float:left;
  background-color: white;
  padding: 20px 23px 20px 23px;
  text-align: left;
  position: relative;
  margin: 20px auto 0 auto;
  width: 700px;
}


.list-group-item {
  text-align: left;
  border: 1px solid;
  background-color: white;
}

.list-group-item:hover {
  background-color: rgb(28, 161, 242);
}

.list-group-item.loading:hover {
  background-color: white;
}

.text-center {
  font-family: Microsoft JhengHei;
  max-width: 700px;
  padding: 0;
}
.post_link {
  color: black;
}

.post_link:hover {
  color: #0055aa;
}

#pagination_c, #pagination_c2 {
  position: relative;
  margin: 20px auto;
  width:fit-content;
  width:-webkit-fit-content;
  height: 70px;
}
.form-group label{
  background-color: rgb(28, 161, 242);
  display: block;
  text-align: center;
}
.pagination .page-item {
  text-align: center;
}
.navbar-toggler{
  color: white;
  font-size: 30px;
  text-align: center;
}
.page-link {
  color: black;
  position: relative;
  margin: 0 3px 0 3px;
}

.page-item.active .page-link {
  background-color: rgb(28, 161, 242);
  border-color: rgb(28, 161, 242);
  font-size: 25px;
  margin-top: -5px;
  height: 50px;
  width: 50px;
}

#logout_link:hover {
  cursor: pointer;
}
#post_list_nav{
  border: 1px solid;
}
#btnLoginGooglePop {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 0px;
  float: left;
}

#btnLoginGooglePop .tooltiptext {
  top: 2px;
  left: 120%; 
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#btnLoginGooglePop:hover .tooltiptext {
  visibility: visible;
}

#btnLoginGooglePop:hover .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}

#btnLoginGooglePop:hover {
  cursor: pointer;
}

#photoUpload {
  position: absolute;
  bottom: 75px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: rgba(236, 236, 236, 0.5);
  background-image: url('../img/camera.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 20px;
  display: none;
}

@keyframes photoUploadAnimation
{
    0% {bottom: 75px;}
    50% {bottom: 85px;}
    100% {bottom: 75px;}
}

.row {
  max-width: 700px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  #post_list_nav {
    width: 100%;
    font-size: 18px;
  }
  #post_list {
    width: 100%;
  }
  #content, #comment, .text-center  {
    width: 100%;
  }
  .card {
    width: 280px;
  }
}

@media (max-width: 450px) {
  #author_link {
    display: none;
  }
}

.navbar-default{
  background-color: rgb(28, 161, 242);
}
@keyframes flying{
  from{
    margin-left: 0%;
  }
  to{
    margin-left: 100%;
    transform: rotateY(180deg);
  }
}
#bird{
  animation: flying;
  animation-duration: 2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}